/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: {"${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}"},
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename}
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: GFFREAD { // added
        ext.args = '-w'
    }

    withName: 'FQ_SUBSAMPLE' {
        ext.args   = '--record-count 1000 --seed 42'
        ext.prefix = { "${meta.id}_subsampled" }
    }
    
    // Full Salmon quantification
    withName: 'SALMON_QUANT' {
        ext.args = {
            def libtype = 'A'

            if (meta.strandedness == 'forward')
                libtype = meta.single_end ? 'SF' : 'ISF'
            else if (meta.strandedness == 'reverse')
                libtype = meta.single_end ? 'SR' : 'ISR'
            else if (meta.strandedness == 'unstranded')
                libtype = meta.single_end ? 'U' : 'IU'

            "--libType ${libtype}"
        }
    }

    // Override Salmon configuration for strandedness inference
    withName: 'NFCORE_RNASEQISCHEBECKSTUEBER:RNASEQISCHEBECKSTUEBER:FASTQ_SUBSAMPLE_FQ_SALMON:SALMON_QUANT' {
        ext.args = '--libType A'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode
        ]
    }

}
